* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0px;
    font-family: 'segoe ui';
  }
  
  .nav {
    height: 50px;
    width: 100%;
    background-color: #4158d0;
    position: relative;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width:650px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }
  .main{
    padding: 2%;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .options {
    margin: auto;
    width: 100%;
    background-color: yellow;
  }
  .options{
    height: 65px;

  }
.properties{
  height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.property{
  width: 100%;
  /* background-color: black; */
  /* border: 1px solid black; */
  box-shadow: 2px 2px 2px 2px gray;
  padding: 10px;
  height: 200px;
  border-radius: 25px;
  color: red;
  display: flex;
  justify-content: space-between;
}
.properties .property .left{
  max-width: 40%;
  height: 100%;
  /* border: 1px solid red; */
  color: red;
  border-radius: 25px;
}
.properties .property .right{
  max-width: 60%;
  /* border: 3px solid green; */
  color: red;
  border-radius: 25px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.property img{
  height: 100%;
  border-radius: 10px;
  max-width: 100%;
}
.price{
  display: flex;
}
.description{
  height: 60%;
  overflow: scroll;
}
.description::-webkit-scrollbar {
  display: none;
}
.book{
   height: 35px;
   position: relative;
   margin-top: 10px;
   background-color: #4158d0;
   color: white;
   border-radius: 20px;
   cursor: pointer;
   border: none;
   margin-left: 70%;
  }